@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: Open Sans;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    background-color: #DA291C;
    width: 100%;;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #bb0000;
    border-top: 3px solid #bb0000;
}

#logo {
    width: 140px;
    height: auto;
    padding: 15px;
    display: flex;
    justify-content: left;
}

nav #navbar {
    display: flex;
}

.navbar {
    display: inline;
}

#navbar .navbar a{
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    position: relative;
}

#navbar .navbar {
    padding: 10px;
}

#navbar .navbar:hover {
    transition: 20ms;
    position: relative;
    text-align: center;
    box-sizing: content-box;
    height: 120%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    padding-top: 49px;
    padding-bottom: 46px;
}

#login {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    border: solid 3px #FFC72C;
    background-color: #FFC72C;
    border-radius: 10px;
    height: 1.9em;
    width: 5em;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 20px;
}

#login:hover {
    transition: 300ms;
    border-color: #bb0000;
    color: #bb0000;
    background-color: #FFC72C;
}

.banner {
    display: flex;
    justify-content: center;
}

#restaurante {
    display: flex;
}

#restaurante img {
    width: 100%;;
    z-index: -1;
}

.contato {
    width: 100%;
    background-color: #FFC72C;
    font-size: 20px;
    align-items: center;
    text-align: center;
    top: -6.5vw;    
    border-top: 3px solid #bb0000;
    border-bottom: 3px solid #bb0000;
}

.contato ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    -ms-flex-align: center;
}

.contato ul, .contato li {
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Poppins";
    list-style-type: none;
}

#icondiv {
    display: block;
    text-align: center;
}

#icon {
    width: 3vw;
}

h1 {
    font-size: 3.5vw;
    color: #FFC72C;
}

#quemSomos {
    width: 100%;
    background: rgb(153,59,20);
    background: radial-gradient(circle, rgba(153,59,20,1) 0%, rgba(120,41,8,1) 51%, rgba(84,31,9,1) 100%);
}

.divisao {
    background-color: #DA291C;
    width: 100%;;
    padding: 10px;
    border-bottom: 3px solid #bb0000;
}

.divisao h1 {
    color: #fff;
    text-align: center;
}

.resumo {
    display: flex;
    max-width: 80vw;
    margin: 0 auto;
    padding: 30px;
    margin-top: 4vw;
    margin-bottom: 4vw;
}

.resumo p {
    font-size: 1.7vw;
    padding-right: 30px;
    font-weight: bold;
    color: white;
}

.resumo b {
    color: #DA291C;
}

.resumo img {
    max-width: 38vw;
    border-radius: 20px;
    border: 5px solid #541f09;
}


.valores {
    display: grid;
    max-width: 80vw;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
}

.valores img {
    max-width: 40vw;
    grid-row: 1/4;
    border-radius: 20px;
    border: 5px solid #541f09;
}

.valores h1 {
    font-size: 3.5vw;
    grid-column: 2/4;
    margin-left: 10%;
    color: #FFC72C;
    translate: 0 -1vw;
}

.valores ul {
    font-size: 2vw; 
    display: flex;
    flex-wrap: wrap;
    grid-column: 2/4;
    grid-row: 2/5;
    justify-content: space-between;
}

.valores li {
    font-weight: bold;
    color: #fff;
    min-width:40%;
    margin-inline-start: 10%;
}

.valores ul::marker, .valores li::marker {
    color: #DA291C;
}

#promoh1 {
    text-align: center;
    padding: 20px;
}

#promocoes {
    background: rgb(254,0,0);
    background: radial-gradient(circle, rgba(254,0,0,1) 0%, rgba(254,0,0,1) 53%, rgba(154,26,26,1) 100%);
    padding-bottom: 2em;
}

#precinho {
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}

td img {
    width: 13vw;
}

.promotable {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    border-radius: 30px;
    border-style: hidden; 
    box-shadow: 0 0 0 2px #FFC72C;
    margin-top: 1vw;
    background-color: #fff;
    color: #fe0000;
}

.promotable th {
    font-size: 4vh;
    min-width: 15vw;
}

td {
    border: 1px solid #FFC72C;
}

#tabelaimg {
    background-color: #FFC72C;
}

footer {
    color: blue;
}